$button-color: #006992;
$button-radius: 10px;
.btn-primary {
  border-radius: $button-radius;
  border: 2px solid white;
  background-color: $button-color;
  color: white;
  min-width: 200px;
  transition: all ease 0.3s;
  &:disabled,
  &:active,
  &:focus,
  &:not(:disabled):not(.disabled):active {
    border-radius: $button-radius;
    border: 2px solid white;
    background-color: $button-color;
    color: white;
    box-shadow: none;
  }
  &:hover:enabled {
    color: $button-color;
    background: white;
    border-color: $button-color;
  }
  &:disabled {
    opacity: 0.35;
  }
}

.btn {
  padding: 10px 45px;
}
