.modal-title{
  font-size: 0.9rem;
  color: $primary-color;
  margin-left: 10px;
  font-weight: 600;
}

.modal-header{
  border-bottom: none !important;
  padding-bottom: 0 !important;
}

.modal-body {
  padding-top: 0 !important;
}
