<section class="container">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Cost date</label>
        <input type="text" class="form-control" id="inputEmail4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Cost value</label>
        <input type="text" class="form-control" id="inputPassword4">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="inputEmail4">Cost category</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="Others">
      </div>
    </div>
    <app-resetable-input></app-resetable-input>
    <app-resetable-input></app-resetable-input>
    <app-resetable-input></app-resetable-input>
    <button type="submit" class="btn btn-info">Salvar</button>
  </form>
</section>
