<section class="container">
  <form [formGroup]="costForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Cost date</label>
        <input type="text" [dropSpecialCharacters]="false" (blur)="updateDate()" mask="00/00/0000"
          formControlName="date" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Cost value</label>
        <input type="text" #someInput (keyup)="handleValue()" (click)="handleValue()" formControlName="value"
          currencyMask [options]="{ prefix: prefix }" class=" form-control">
      </div>
    </div>
    <app-select-input [parentForm]="costForm" [control]="'category'" [labelName]="'Cost category'"
      [options]="categorys"></app-select-input>
    <app-resetable-input [parentForm]="costForm" [control]="'description'" [labelName]="'Description of cost'">
    </app-resetable-input>
    <app-resetable-input [parentForm]="costForm" [control]="'client'" [labelName]="'Client'"></app-resetable-input>
    <app-resetable-input [parentForm]="costForm" [control]="'job'" [labelName]="'Job'"></app-resetable-input>
    <app-resetable-input [parentForm]="costForm" [control]="'notes'" [labelName]="'Notes'"></app-resetable-input>
    <button type="submit" class="btn btn-info">Salvar</button>
  </form>
</section>
